body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  line-height: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
button,
a {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

input,
textarea {
  outline-color: #552b80;
}

textarea {
  resize: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.header {
  background-color: #552b80;
  color: white;
}

.margin-auto {
  margin: 0 auto;
}

.text-align-right {
  text-align: right;
}

.img {
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.text-box {
  border: 1.5px solid #c4c4c4;
  border-radius: 3px;
  padding: 8px;
}

.button {
  background-color: #552b80;
  color: white;
  padding: 0.4rem 1.2rem;
  border: none;
  border-radius: 3px;
  margin: 1rem 0;
}

.margin-bot-half-rem {
  margin-bottom: 0.5rem;
}

.margin-top-half-rem {
  margin-top: 0.5rem;
}

.margin-top-0 {
  margin-top: 0;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.obj-position-center {
  object-position: center;
}

.margin-bot-two-rem {
  margin-bottom: 2rem;
}

.no-wrap {
  flex-wrap: nowrap;
}

.padding-lr {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.padding-lr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

a.entriesTab {
  color: white;
  text-decoration: none;
}

.newButton {
  font-size: 1.2rem;
}

.fa-pencil-alt {
  font-size: x-large;
  color: #552b80;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  height: 8rem;
  width: 21rem;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}

.cancel-btn {
  background-color: #b6b6b6;
  color: black;
}

.confirm-btn {
  background-color: #db2625;
}

.deleteLink {
  color: #db2625;
  text-decoration: underline;
}

.flex-end {
  justify-content: flex-end;
}

.searchBar {
  width: 100%;
  outline: none;
}

.searchBtn {
  color: white;
  background-color: purple;
  padding: 0.2rem 1rem;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.padding-tb-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.noMatches {
  text-align: center;
  color: grey;
}

@media screen and (min-width: 768px) {
  .img {
    height: 450px;
  }
}

@media screen and (min-width: 768px) {
  .search {
    margin-top: inherit;
    margin-bottom: inherit;
    justify-content: flex-end;
  }
}
